/* FONT IMPORTS */

@font-face {
    font-family:ChapPro;
    src: url(../fonts/Chap/ChaparralPro-BoldIt.otf) format("opentype"),
    	 url(../fonts/Chap/ChaparralPro-BoldIt.eot?#iefix) format('embedded-opentype'),
    	 url(../fonts/Chap/ChaparralPro-BoldIt.woff) format('woff'),
    	 url(../fonts/Chap/ChaparralPro-BoldIt.ttf) format('truetype'),
    	 url(../fonts/Chap/ChaparralPro-BoldIt.svg) format('svg');
	font-weight:900;
}

@font-face {
    font-family:Gandhi;
    src: url(../fonts/Ghandi/GandhiSerif-Regular-webfont.eot);
    src: url(../fonts/Ghandi/GandhiSerif-Regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Ghandi/GandhiSerif-Regular-webfont.woff) format('woff'),
         url(../fonts/Ghandi/GandhiSerif-Regular-webfont.ttf) format('truetype'),
         url(../fonts/Ghandi/GandhiSerif-Regular-webfont.svg#GandhiSerifRegular) format('svg');
}

/* CONTAINERS AND GLOBAL */

body{
	width: 100%;
	color:#333;
	font-family: Gandhi;
	line-height: 1.625em;
}

.clear{
	clear:both;
}

.container{
	clear: both;
	display: block;
	max-width: 62.5em;
	margin-left: auto;
	margin-right: auto;
	padding-top:8em;
	padding-left: 1em;
	padding-right: 1em;
}

.header{
	padding-top: 1em;
	position: fixed;
	background-color: #FFFFFF;
	width:100%;
	box-shadow: #666 0px 1px 5px;
}

.header_container{
	max-width:62.5em;
	margin-right: auto;
	margin-left: auto;
}

.contact_container{
	position:relative;
	top:-1em;
	display: inline-block;
}

.contact_sub_container{
	margin-top: 1em;
	margin-right: 2em;
}

.footer{
	margin-top: 2em; 
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #353535;
}

/* HEADERS & TEXT */

.headers{float: left;}

h1{
	font-family: ChapPro;
	font-size: 3em;
	color: #4490A4;
	letter-spacing: -0.05em;
}

h1 img{
	margin-right: 0.25em;
	vertical-align: text-top;

}

h2{
	font-family: Arial;
	font-size: 1.125em;
	color: #656565;
	letter-spacing: -0.05em;
	position: relative;
	left:17.375em;
	top:-1.25em;
}

h3{
	font-family: ChapPro;
	font-size: 2em;
	color: #4490A4;
	letter-spacing: -0.05em;
	margin-bottom: 0.5em;
}
h3 a{text-decoration: underline; color:#4490A4;}
h3 a:hover{color:#999999;}

h4{
	font-family: Arial;
	font-size: 1.3em;
	font-weight: 900;
	color: #4490A4;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
h4.resume{
	font-family: ChapPro;
	font-weight: bold;
	font-size: 1.5em;
	color: #333333;
}

h5{
	font-family: ChapPro;
	font-weight: bold;
	font-size: 1em;
	color: #4490A4;
}

a{
	text-decoration: none;
	color: #000;
}

ul li
{
	margin-bottom: 0.5em;
}

ul.nav{
	float: right;
	position: relative;
	top:3.3em;
}

ul.nav li{
	float: left;
	margin-right:2.5em;
}

ul.nav a{
	font-family: Arial;
	font-size: 1.125em;
	color: #656565;
	letter-spacing: -0.05em;
}

ul li span{
	display: none;
}

.markedlist li{
	list-style-type: disc;
	margin-left: 1em;
}

.inlinelist li{display: inline;}

.floatinglist{
	background-color: #4490A4;
	padding: 1em;
	border-radius: 0.5em;
	position: fixed;
	left: 85%;
	box-shadow: #666 0px 1px 5px;
}

.floatinglist li a{
	color: #FFFFFF;
	font-family: Gandhi;
}

.floatinglist li a:hover{
	text-decoration: underline;
}

.footertext{
	color:#FAFAFA;
}

.footertext a{
	color:#FAFAFA;
}

.left{
	width: 13.5em;
	text-align: center;
	float: left;
	margin: 1em;
}

p{
	margin-bottom: 1.625em;
	max-width:42.813em;
}

strong{font-weight: bold;}	

/* FORMS AND INPUTS */
form{
	float: left;
	display:inline;
	margin-right: 2em;
}

.input_container{float: left;}

.styledform{
	border-radius: 0.5em;
	border: none;
	box-shadow: inset #333333 0px 0px 3px;
}

.submit{
	border: none;
	border-radius: 0.5em;
	background-color: #4490A4;
	color:#FAFAFA;

}

textarea{
	width:35em;
	height:10em;
	float: left;
	margin-right: 20px;
}

input{
	width:12.5em;
	height:2em;
	margin-bottom: 0.6em;
	display: block;
	text-align: center;
}



