/* FONT IMPORTS */

@font-face {
    font-family:Museo;
    src: url(../fonts/museo/Museo_Slab_500italic-webfont.eot);
    src: local("☺"), 
    	 url(../fonts/museo/Museo_Slab_500italic-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/museo/Museo_Slab_500italic-webfont.woff) format('woff'),
         url(../fonts/museo/Museo_Slab_500italic-webfont.ttf) format('truetype'),
         url(../fonts/museo/Museo_Slab_500italic-webfont.svg) format('svg');
}

@font-face {
    font-family:Gandhi;
    src: url(../fonts/Ghandi/GandhiSerif-Regular-webfont.eot);
    src: local("☺"), 
    	 url(../fonts/Ghandi/GandhiSerif-Regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Ghandi/GandhiSerif-Regular-webfont.woff) format('woff'),
         url(../fonts/Ghandi/GandhiSerif-Regular-webfont.ttf) format('truetype'),
         url(../fonts/Ghandi/GandhiSerif-Regular-webfont.svg#GandhiSerifRegular) format('svg');
}

/* CONTAINERS AND GLOBAL */

body{
	width: 100%;
	color:#333;
	font-family: Gandhi;
	line-height: 1.6875em;
	font-size: 1em;
	background-image:url('../img/gray_jean.png');
	word-wrap:break-word;
}
body *:focus{outline: none;}

.clear{clear:both;}

.container{
	clear: both;
	display: block;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top:6em;
	padding-left: 1em;
	padding-right: 1em;
}

.header{
	padding-top: 1em;
	position: fixed;
	background-image:url('../img/gray_jean.png');
	width:100%;
	z-index: 0;
}

.header_container{
	padding-left: 1em;
	padding-right: 1em;
	max-width:90%;
	margin-right: auto;
	margin-left: auto;
}

.footer{
	margin-top: 2em; 
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #353535;
}

.center_container{
	max-width:100%;
	text-align: center;
}

.center{
	margin-right: auto;
	margin-left: auto;
}

.contact_sub_container{
	float: left;
	margin-right: 2em;
}

.left li{
	display: inline-block;
	width: 25%;
	text-align: center;
	margin: -4px;
	margin-bottom: 2em;
}
.left img{max-width: 100%; padding: 0}
.left img.shadow:hover{box-shadow: #AAA 0em 0.5em 1em;}
.left img.shadow:active{box-shadow: #AAA 0em 0.5em 1em;}

.full{width:100%;}
.half{width:50%;}
.third{width: 30%;}

.mx2{margin-left:1.5em;}

.pdf{
	position: relative;
	z-index: 0;
}

.bannercontainer{
	margin-top: 3em;
	position:relative;
	z-index: -1;
}

.bannercontainer img{display: block;}

.bannercontainer::before{
	display: block;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: inset 0em 0em 0.4em #333;
}

.shadow{box-shadow: #666 0em 0.5em 1em;}

#comment_container{margin-top: 2em;}

.comment_subcontainer{
	padding:0.5em;
	border-bottom:solid #CCC 2px;
	border-left:solid #CCC 2px;
	border-radius: 0.5em;
	max-width:50em;
}
.comment_subcontainer p{margin: 0em;}

.marginup{margin-top:1em;}

.hidden{display: hidden;}
	

/* HEADERS & TEXT & IMAGES*/

.hidden{display: none;}

h1{
	display:inline;
	width:40%;
}
h1 span{display:none;}
h1 img{
	max-width: 100%;
	margin-right: 0.25em;
	display: inline;
}

h2{
	font-family: Museo;
	font-size:2.5em;
	line-height: 1em;
	color: #4490A4;
	letter-spacing: -0.05em;
	margin-bottom: 0.5em;
	margin-top: 1em;
}
h2 a{text-decoration: underline; color:#4490A4;}
h2 a:hover{color:#999999;}
h2 a:active{color:#999999;}

h3.resume{
	font-family: Museo;
	font-weight: bold;
	font-size: 1.5em;
	color: #333333;
}
h4{
	font-weight: bold;
}

a{
	text-decoration: none;
	color: #333;
}
a:hover{color:#999999;}
a:active:{color:#999999;}
a.underline{text-decoration: underline;}

ul li{max-width: 50em;}
a{max-width: 50em;}

ol li{list-style: decimal;}
ol li ul li{list-style: none;}

ul li{margin-bottom: 0.5em;}
ul li span{display: none;}

ul.nav{
	display: inline-block;
	float: right;
	position: relative;
	top:2.2em;
}
ul.nav li{display: inline;}
ul.nav a{
	padding-top: 3.5em;
	padding-right: 0.6em;
	padding-left: 0.6em;
	font-family: Arial;
	font-size: 1.125em;
	color: #656565;
	letter-spacing: -0.05em;
}
ul.nav a:hover{color: #DDDDDD;}

.markedlist li{
	list-style-type: disc;
	margin-left: 1em;
}

.inlinelist li{display: inline;}

.footertext{color:#FAFAFA;}
.footertext a{color:#FAFAFA;}

p{
	margin-bottom: 1.625em;
	max-width:50em;
}

strong{font-weight: bold;}	

.meimg{
	border-radius: 2em;
	width:100%;
}

.blogimg{
	width:100%;
}

pre{
	background-color: #FFFFFF;
	max-width: 50em;
	overflow: none;
}



/* FORMS AND INPUTS */
form{
	width:100%;
	float: left;
	display:inline;
	margin-right: 2em;
}

.input_container{float: left;}

.styledform{
	border-radius: 0.5em;
	border: none;
	box-shadow: inset #333333 0px 0px 3px;
}

.submit{
	border: none;
	border-radius: 0.5em;
	background-color: #4490A4;
	color:#FAFAFA;
}
.submit:hover{
	background-color: #111111;
	color:#FAFAFA;
}
.submit:active{
	background-color: #111111;
	color:#FAFAFA;
}

textarea{
	width:70%;
	height:10em;
	float: left;
	margin-right: 20px;
	overflow: hidden;
}

.input_container{width:20%;}

input{
	width:100%;
	height:2em;
	margin-bottom: 0.6em;
	display: block;
	text-align: center;
}

/* BACKGROUNDS */
.house_icon:hover{background: url('../img/house.png') no-repeat center;}
.house_icon:active{background: url('../img/house.png') no-repeat center;}
.me_icon:hover{background: url('../img/person.png') no-repeat center;}
.me_icon:active{background: url('../img/person.png') no-repeat center;}
.resume_icon:hover{background: url('../img/case.png') no-repeat center;}
.resume_icon:active{background: url('../img/case.png') no-repeat center;}
.blog_icon:hover{background: url('../img/blog.png') no-repeat center;}
.blog_icon:active{background: url('../img/blog.png') no-repeat center;}
.work_icon:hover{background: url('../img/code.png') no-repeat center;}
.work_icon:active{background: url('../img/code.png') no-repeat center;}
.comment_icon{
	background: url('../img/blog_thumb.png') no-repeat center; 
	padding-bottom:0.5em;
	padding-left:1em;
	padding-right:1em;
	color:#FFFFFF;
}

/* BEGIN TABLET LAYOUT */
@media only screen and (max-width: 950px){
	.container{padding-top: 9em;}
	
	.header_container{text-align: center;}

	.contact_sub_container{
		float: none;
		margin-right: 0em;
	}

	ul.nav{
		float: none;
		position: static;
	}
	ul.nav a{padding-top: 0;}
	ul.nav a:hover{background: url("");}

	h2{font-size: 2em;}

	ul.left h3{font-size: 0.8em;}

	pre{font-size: 0.9em;}
}

/* BEGIN PHONE LAYOUT */
@media only screen and (max-width: 650px){
	h2{font-size: 1em;}
	h3.resume{font-size: 1em;}
	.bannercontainer{margin-top: 0em;}
	.input_container{width:100%;}
	textarea{
		width: 100%;
		margin-bottom: 0.5em;
	}
	.left.work a{display: inline;}
	.left.work li{
		display: block;
		text-align: center;
		text-decoration: underline;
		width: 100%;
	}
}

@media only screen and (max-width:450px){
	.meimg{display:none;}
	ul.nav a{
		font-size: 0.8em;
	}
	.bannercontainer{display:none; margin-top: 0em;}
	.container{padding-top: 1em;}
	.header{position: static;}
	.serviceimg{display: none;}
	.left li{
		display: block;
		text-align: left;
		text-decoration: underline;
		width: 100%;
	}
	.post_container p{display: none;}
	pre{
		font-size: 0.7em;
	}
}
